<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Thank you.</strong> Your story was sucessfully updated.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <p>close</p>
  </a>
</div>
