.navbar-lewagon {
  background-color: transparent !important;
  position: absolute;
  top: -80px;
  width: 100%;
  height: 280px;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 323px;
//   height: 267px;
// }
